services:
  trainer:
    build:
      context: ./
      dockerfile: train/Dockerfile
    volumes:
      - "./models:/app/models:rw"

  inference:
    build:
      context: ./
      dockerfile: inference/Dockerfile
    volumes:
      - "./models:/app/models:ro"
      - "./output:/app/output:rw"
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: ome_hackathon
      POSTGRES_PASSWORD: ilovedataforgood
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
    depends_on:
      - postgres
    networks:
      - metanet1

  postgres:
    image: postgres:15
    ports:
      - 5432:5432
    volumes:
      - "./pgdata:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      TZ: Europe/Paris
      POSTGRES_USER: user
      POSTGRES_DB: ome_hackathon
      POSTGRES_PASSWORD: ilovedataforgood
    logging: #
      driver: none
    networks:
      - metanet1
  metabase:
    # image: metabase/metabase:latest
    # If on Apple Silicon use this image instead
    image: stephaneturquay/metabase-arm64:latest
    volumes:
      - "./mb-data:/metabase-data" # Volumes where Metabase data will be persisted
    ports:
      - 3000:3000
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: ome_hackathon
      MB_DB_PORT: 5432
      MB_DB_USER: user
      MB_DB_PASS: ilovedataforgood
      MB_DB_HOST: postgres
      MB_DB_FILE: "/metabase-data/metabase.db" # https://www.metabase.com/docs/latest/operations-guide/running-metabase-on-docker.html#mounting-a-mapped-file-storage-volume
      JAVA_TIMEZONE: Europe/Paris
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - metanet1

networks:
  metanet1:
    driver: bridge
