[project]
name = "ome-hackathon-season-14"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    # Utilities
    "anyio==4.12.1",
    "httpx==0.28.1",
    "pyyaml==6.0.3",
    "tqdm==4.67.1",
    # Database
    "sqlalchemy==2.0.46",
    "psycopg==3.3.2",
    # Computations
    "networkx==3.6.1",
    "numpy==2.4.1",
    "pandas==2.3.3",
    "scipy==1.17.0",
    # Dataset
    "datasets==4.5.0",
    "evaluate==0.4.6",
    # ML
    "torch==2.9.1",
    "tokenizers==0.22.2",
    "transformers==4.57.6",
    "accelerate==1.12.0",
    "sentence-transformers==5.2.0",
    "setfit==1.1.3",
    "scikit-learn==1.8.0",
    # Visualization
    "streamlit>=1.53.1",
]

[dependency-groups]
dev = [
    "ipdb>=0.13.13",
    "ipython>=9.9.0",
    "rich>=14.2.0",
]
lint = [
    "black>=26.1.0",
    "mypy[faster-cache]>=1.19.1",
    "pre-commit>=4.5.1",
    "ruff>=0.14.14",
]
test = [
    "pytest>=9.0.2",
    "pytest-cov>=7.0.0",
]

