[project]
name = "ome-hackathon-season-14"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "huggingface-hub>=1.3.3",
    "pandas>=3.0.0",
    "pyarrow>=23.0.0",
]
